@page
@model webportalTrial.Pages.homeModel
@{
}

<link href="~/css/home.css" rel="stylesheet" />
<form id="home" method="post">
<div id="homeContainer" class="container">
	<div id="homeHeader" class="container">
		<div id="logo">

		</div>
		<div id="tabs">

		</div>
		<h1> Corporate Management and Establishment Branch</h1>
	</div>

	<div id="services">
			<div id="s1" class="box"> <p><a href="submitReq" class="nav-link active"> <img src="images/submitRequestImg.jfif"> </a>Submit a Request</p> </div>
	</div>

	<div id="homeFooter">

	</div>

</div>
</form>